<div class="admin-main">
  <div class="admin__main__container">
    <h2>{{'Админ панель'}}</h2>
    <a [routerLink]="['/admin/one-field', '/admin/tags', 'Теги']">{{ 'Теги' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/complaint-types', 'Типы жалоб']">{{ 'Типы жалоб' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/info-booleans', 'Логические переменные']">{{ 'Логические переменные' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/info-numbers', 'Числовые переменные']">{{ 'Числовые переменные' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/info-strings', 'Строковые переменные']">{{ 'Строковые переменные' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/product-types', 'Типы продуктов']">{{ 'Типы продуктов' }}</a>
    <a [routerLink]="['/admin/one-field', '/admin/manufacturers', 'Производители']">{{ 'Производители' }}</a>
  </div>
</div>
