.seller-product{
  padding: 30px;
  font-size: 0.7rem;
}


.seller-product__image img{
  max-width: 600px;
  max-height: 700px;
}

.seller-product__main-info{
  display: flex;
  margin: 0 auto;

  flex-direction: column;
  width: 600px;

}

.seller-product__main-info select, textarea{
  font-size: 2rem;
}

.seller-product__images{
  width: 1700px;
  margin: 0 auto;
  overflow-x: auto;
}

.setter-product__images-wrapper{
  width: 1700px;
  display: flex;
  flex-direction: row;

}

.seller-product__info-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.seller-product__info-wrapper button{
  width: 100%;
  font-size: 2em;
}

.seller-product__info-wrapper p{
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
  font-weight: bolder;
  color: var(--blue);
}
